<h1>
  Изменение комнаты "<%= @room.name %>"
</h1>

<div>
  <div>Текущие пользователи комнаты:</div>
  <ul class="list-group">
    <% @room.user.all.each do |user| %>
      <li class="list-group-item"><%= user.username %></li>
    <% end %>
  </ul>
</div>

<%= render partial: 'form' %>
